.shape {        /* C.2 CSS Styling - 3. CSS Modules */
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }